.Main{
    margin-left: 250px;
}

mat-form-field{
    /* border: 1px solid gray; */
    /* height: 60px;  */
    width: 450px;
}

.pre{
    margin-top: 40px;
    margin-left: 150px;
    font-weight: 500;
}
.btn{
    border: 1px solid gray;  
    width: 30rem;
}
.check{
    margin-left:150px;
    font-weight: 500;
    color:#7f8c8d;
}

input{
    width: 350px;
    height: 35px;
}