<div class="Main">
    <div class="navbr">
        <app-navbar></app-navbar>
    </div>
    <div class="submain">
        <div class="about">ABOUT</div>
        <div class="para mt-5">
            <p>
                The Example Clinic demo application showcases using several Essential JS 2 Angular UI components
                together in a
                real-world application scenario. You can <br> further explore the <a class='control-name'
                    href="https://github.com/syncfusion/ej2-showcase-angular-appointment-planner" target="_blank">source
                    code</a> of this application and use it as a
                reference for integrating Essential JS 2 Angular UI components into your applications.
            </p>
        </div>
        <div class="headL mt-5">List of EJ2 Angular UI components used in this sample</div>
    </div>
    <div class="top">
        <div class="subtop">
            <div class="boxd mt-4">
                <div class="icon"> <a href="#"><mat-icon>account_balance_wallet</mat-icon></a> </div>
                <div class="texts">checkBox</div>
             </div>
             <div class="boxd mt-2 ">
                 <div class="icon"> <a href="#"><mat-icon>chat</mat-icon></a> </div>
                 <div class="texts">Dailog</div>
              </div>
              <div class="boxd mt-2 ">
                 <div class="icon"> <a href="#"><mat-icon>power_input</mat-icon></a> </div>
                 <div class="texts">Button</div>
              </div>
        </div>
        <div class="subtop">
            <div class="boxd mt-4">
                <div class="icon"> <a href="#"><mat-icon>arrow_drop_down_circle</mat-icon></a> </div>
                <div class="texts">DropDown</div>
             </div>
             <div class="boxd mt-2 ">
                 <div class="icon"> <a href="#"><mat-icon>keyboard</mat-icon></a> </div>
                 <div class="texts">TextBox</div>
              </div>
              <div class="boxd mt-2 ">
                 <div class="icon"> <a href="#"><mat-icon>insert_invitation</mat-icon></a> </div>
                 <div class="texts">DatePicker</div>
              </div>
        </div>
         <div class="subtop">
            <div class="boxd mt-4">
                <div class="icon"> <a href="#"><mat-icon>blur_circular</mat-icon></a> </div>
                <div class="texts">Shedule</div>
             </div>
             <div class="boxd mt-2 ">
                 <div class="icon"> <a href="#"><mat-icon>control_point</mat-icon></a> </div>
                 <div class="texts">TreeView</div>
              </div>
              <div class="boxd mt-2 ">
                 <div class="icon"> <a href="#"><mat-icon>details</mat-icon></a> </div>
                 <div class="texts">Toast</div>
              </div>
        </div>
        <div class="subtop">
            <div class="boxd mt-4">
                <div class="icon"> <a href="#"><mat-icon>wb_cloudy </mat-icon></a> </div>
                <div class="texts">Grid</div>
             </div>
             <div class="boxd mt-2 ">
                 <div class="icon"> <a href="#"><mat-icon>view_comfy</mat-icon></a> </div>
                 <div class="texts">Chart</div>
              </div>
              
        </div>
    </div>
    
</div>