<div class="container">
    <div class="row">
        <div class="col">
            <div class="cards">
                <form [formGroup]="loginform" (ngSubmit)="postpatientdata()">
                    <h3>New Patient</h3>
                    <div class="f">
                        <div>
                            <mat-label>Patient Name</mat-label>
                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="Name">
                            </mat-form-field>
                        </div>
                        <div class="dob">
                            <div>
                                <label>Gender</label><br>
                                <div class="rbtn mt-3">
                                    <div>
                                        <input type="radio" value="Male" name="gender" formControlName="Gender">
                                        <label for="">Male</label>
                                    </div>
                                    <div>
                                        <input type="radio" value="Female" name="gender" formControlName="Gender">
                                        <label for="">Female</label>
                                    </div>
                                </div>
                            </div>
                            <div class="date">
                                <label>Date Of Birth</label><br>
                                <mat-form-field appearance="outline">

                                    <input matInput [matDatepicker]="picker" id="dob" name="dob" formControlName="DOB">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="con1">
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>Blood Group</mat-label>
                                    <mat-select formControlName="BloodGroup">
                                        <mat-option value="A+">A+</mat-option>
                                        <mat-option value="B+">B+</mat-option>
                                        <mat-option value="AB+">AB+</mat-option>
                                        <mat-option value="O+">O+</mat-option>
                                        <mat-option value="AB+">AB-</mat-option>
                                        <mat-option value="A-">A-</mat-option>
                                        <mat-option value="B-">B-</mat-option>
                                        <mat-option value="O-">O-</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="mob col-5">
                                <label for="">Mobile Number</label>
                                <input type="tel" formControlName="Mobile" class="form-control">
                            </div>

                        </div>
                        <div class="e">
                            <label for="">Email</label>
                            <input type="email" formControlName="Email"  class=form-control>
                        </div>
                        <div class="duty">
                            <label for="">Symptoms</label>
                            <input type="text"  formControlName="Symptoms" class=form-control>
                        </div>
                        <div class="btn">
                            <button mat-dialog-close class="btn btn-secondary">Cancle</button>
                            <button class="btn btn-success" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>