<div class="main">
    <div class="navbr">
        <app-navbar></app-navbar>
    </div>
    <div class="submain">
        <div class="head mt-5" routerLink="/doctor">
            <span><mat-icon>arrow_back_ios</mat-icon></span>
            <span>DOCTOR DETAILS</span>
        </div>
        <div class="btn">
            <button class="btn btn-danger">Delete</button>
            <button class="btn btn-primary">Edit</button>
        </div>
        <div class="data">
            <div class="info">
                <div class="img1"><img
                        src="https://ej2.syncfusion.com/showcase/angular/appointmentplanner/assets/images/NemboLukni.png"
                        alt=""></div>
                <div class="info2">
                    <span id="dr">Dr.Nembo Lukeni</span>
                    <span id="mbbs">MBBS,DMRD</span>
                    <span id="sp">Senior Specilist</span>
                    <span id="speci">Specilization</span>
                    <span id="sp">General Medicine</span>
                    <span id="speci">Experience</span>
                    <span id="ten">10+ year</span>
                    <span id="speci">Availability</span>
                    <span>SUN,THE,WED,THU,FRI-8:00AM - 5:00PM</span>
                    <span id="speci">Mobile</span>
                    <span>(206)5559482</span>
                </div>
            </div>
            <div class="addData">
                <div class="Add">
                    <span>Break Hours</span>
                    <span class="plus"><mat-icon>add_circle</mat-icon></span>
                    <span class="plus">Add</span>
                </div>
                <div class="week">
                    <div class="days">
                        <div><span>Sunday</span></div>
                        <div class="timeS"><span>12:00PM-1:00PM</span></div>
                    </div>
                    <div class="days">
                        <div><span>Monday</span></div>
                        <div class="time"><span>12:00PM-1:00PM</span></div>
                    </div>
                    <div class="days">
                        <div><span>Thusday</span></div>
                        <div class="time"><span>12:00PM-1:00PM</span></div>
                    </div>
                    <div class="days">
                        <div><span>Wednesday</span></div>
                        <div class="timew"><span>12:00PM-1:00PM</span></div>
                    </div>
                    <div class="days">
                        <div><span>Thursday</span></div>
                        <div class="timeT"><span>12:00PM-1:00PM</span></div>
                    </div>
                    <div class="days">
                        <div><span>Friday</span></div>
                        <div><span class="timeF">12:00PM-1:00PM</span></div>
                    </div>
                    <div class="days">
                        <div><span>Saturday</span></div>
                        <div class="time"><span>12:00PM-1:00PM</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>