<div class="main">
    <div class="nav1">
        <app-navbar></app-navbar>
    </div>
    <div class="doctor">
        <div class="list">DOCTOR LIST</div>
        <div class="btnw">
            <div class="sel">
                <mat-form-field appearance="outline">
                    <mat-label>Select a Specilizatio</mat-label>
                    <mat-select>
                        <mat-option value="generalmedicine" (click)="searched1('generalmedicine')">General Medicine</mat-option>
                        <mat-option value="neurology" (click)="searched1('neurology')" >Nuerology</mat-option>
                        <mat-option value="dermatology" (click)="searched1('dermatology')" >Darmitology</mat-option>
                        <mat-option value="Orthopedics" (click)="searched1('Orthopedics')" >Orthopedics</mat-option>
                        <mat-option value="Daibetolog" (click)="searched1('Daibetolog')" >Daibetolog</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button class="btn mt-2 btn-primary" (click)="openDialog()">ADD NEW DOCTOR</button>
        </div>

    </div>
    <div class="cards mt-3">
        <div class="row">
            <div class="col-6 pa" *ngFor="let i of doctorsdata | doctorsearch:tx1">
                <mat-card class="example-card mt-4 hov">
                    <mat-card-content>
                        <div class="top">
                            <div class="img1"><img
                                    src="{{i.image}}"
                                    alt="">
                            </div>
                            <div class="data" routerLink="/details">
                                <div class="name">
                                    <h2>{{i.D_name}}</h2>
                                </div>
                                <div class="name">
                                    <h3>{{i.education}}</h3>
                                </div>
                                <div class="comm">
                                    <div class="design">
                                        <span class="dd">Designation</span>
                                        <span>{{i.designation}}</span>
                                    </div>
                                    <div class="ex">
                                        <span class="dd">Experience</span>
                                        <span>{{i.experience}}</span>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        
    </div>
</div>