<div class="main">
    <div class="nav1">
        <app-navbar></app-navbar>
    </div>
    <div class="doctor">
        <div class="list">DOCTOR LIST</div>
        <div class="btnw">
            <div class="sel">
                <mat-form-field>
                    <mat-label>Select a Specilizatio</mat-label>
                    <mat-select>
                        <mat-option value="option">General Medicine</mat-option>
                        <mat-option value="option">Nuerology</mat-option>
                        <mat-option value="option">Darmitology</mat-option>
                        <mat-option value="option">Orthopedics</mat-option>
                        <mat-option value="option">Daibetolog</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button class="btn mt-2 btn-primary" (click)="openDialog()">ADD NEW DOCTOR</button>
        </div>

    </div>
    <div class="cards">
        <mat-card class="example-card">
            <mat-card-content>
                <div class="top">
                    <div class="img1"><img
                            src="https://ej2.syncfusion.com/showcase/angular/appointmentplanner/assets/images/MollieCobb.png"
                            alt="">
                    </div>
                    <div class="data">
                        <div class="name">
                            <h2>Dr.Mollie Cobb</h2>
                        </div>
                        <div class="name"><h3>MBBS,DMRD</h3></div>
                        <div class="comm">
                            <div class="design">
                                <span class="dd">Designation</span>
                                <span>Junior Specilist</span>
                            </div>
                            <div class="ex">
                                <span class="dd">Experience</span>
                                <span>10+ Year</span>
                            </div>
                        </div>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>