<div class="Main">
    <mat-card class="example-card">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
            <div class="submain">
                <div class="logo">
                            <div class="img2">
                                <img src="../../../assets/images/doc.jpg" alt="">
                            </div>
                            <div class="name">
                                <span class="font">jane doe</span>
                                <span class="">Admin</span>
                            </div>
                </div>
                <div class="con">
                    <div class="dashboard" [routerLinkActive]="'active'" routerLink="/dash">
                        <mat-icon>dashboard</mat-icon>
                        <h3>Dashboard</h3>
                    </div>
                    <div class="dashboard" [routerLinkActive]="'active'" routerLink="/sche">
                        <mat-icon>today</mat-icon>
                        <h3>Schedule</h3>
                    </div>
                    <div class="dashboard" [routerLinkActive]="'active'" routerLink="/doctor">
                        <mat-icon>local_hospital</mat-icon>
                        <h3>Doctor</h3>
                    </div>
                    <div class="dashboard" [routerLinkActive]="'active'" routerLink="/patient">
                        <mat-icon>wc</mat-icon>
                        <h3>Patients</h3>
                    </div>
                    <div class="dashboard" [routerLinkActive]="'active'" routerLink="/pre">
                        <mat-icon>line_weight</mat-icon>
                        <h3>Prefernce</h3>
                    </div>
                    <div class="dashboard" [routerLinkActive]="'active'" routerLink="/about">
                        <mat-icon>block</mat-icon>
                        <h3>About</h3>
                    </div>
                </div>

            </div>
        </mat-card-content>
    </mat-card>
</div>