<div class="main">
    <div class="navbr">
        <app-navbar></app-navbar>
    </div>
    <div class="submain">
        <div class="list">
            <h2>PATIENT LIST</h2>
        </div>
        <div class="side">
            <div class="search"><input type="text" placeholder="search" (keyup)="searched($event)"></div>
            <div><button class="btn btn-primary" (click)="openDialog()">Add Patients</button></div>
        </div>
    </div>
    <div id="ttttt">
        <div class="col">
            <div class="row">
                <table class="table border table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Blood Group</th>
                            <th>Symptoms</th>
                            <th>Mobile Number</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of data  |search:tx; let i1=index">
                            <td>{{i1+1}}</td>
                            <td>{{i.Name}}</td>
                            <td>{{i.Gender}}</td>
                            <td>{{i.BloodGroup}}</td>
                            <td>{{i.Symptoms.slice(0,20)}}...</td>
                            <td>{{i.Mobile}}</td>
                            <td>{{i.Email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
       
    </div>
</div>
  