<div class="main">
    <div class="navbr">
        <app-navbar></app-navbar>
    </div>
    <div class="submain">
        <div class="list">
            <h2>PATIENT LIST</h2>
        </div>
        <div class="side">
            <div class="search"><input type="text"></div>
            <div><button class="btn btn-primary" (click)="openDialog()">Add Patients</button></div>
        </div>
    </div>
    <div id="ttttt">
        <table class="table border">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Blood Group</th>
                    <th>Symptoms</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>prasad</td>
                    <td>gender</td>
                    <td>A+</td>
                    <td>none</td>
                    <td>94449494</td>
                    <td>@gmail</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
  